#secondSection {
    width: 100%;
    height: 350svh;
}

#secondSectionSticky {
    height: 100svh;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    p {
        color: #000100;
        &:nth-child(1) {
            font-size: 24px;
            font-weight: 700;
        }
        &:nth-child(5) {
            font-size: 20px;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            margin-top: 30px;
        }
    }
    .animationTextUp {
        display: flex;
        height: 82px;
        width: 100%;
        overflow: hidden;
        p {
            font-size: 72px;
            font-weight: 900;
            font-family: "Moderniz";
            line-height: 1;
            text-align: center;
            position: absolute;
            right: 0;
            left: 0;
        }
        span {
            color: #5A189A;
            font-weight: 900;
            font-family: "Moderniz";
            transition: .3s;
            line-height: 1;
            top: 12px;
            font-size: 72px;
            position: absolute;
            right: 0;
            left: 620;
            text-align: center;
        }
    }
    
}

@media (max-width: 862px) {
    #secondSection {
        height: 100svh;
    }
    #secondSectionSticky {
        p {
            color: #000100;
            transition: .5s ease-in-out;
            &:nth-child(1) {
                font-size: 16px;
            }
            &:nth-child(5) {
                font-size: 20px;
                margin-top: 14px;
            }
        }
        .animationTextUp {
            height: 40px;
            p {
                font-size: 30px;
                transition: .5s ease-in-out;
            }
            span {
                color: #5A189A;
                transition: .5s ease-in-out;
                font-weight: 900;
                font-family: "Moderniz";
                transition: .3s;
                line-height: 1;
                top: 12px;
                font-size: 30px;
                position: absolute;
                right: 0;
                left: 260;
                text-align: center;
            }
        }
    }
}