#sixthSection {
    height: 1250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
}

#sixthSectionTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.sixtSectionImg {
    width: 365px;
    height: 464px;
    object-fit: cover;
    position: absolute;
    transition: .5s ease-in-out;
}

#sixthSectionLineaVioleta {
    position: absolute;
    height: 101px;
    width: 93vw;
    align-self: flex-start;
    background: linear-gradient(-90deg, #E0AAFF 0%, #9D4EDD 100%);
    mix-blend-mode: darken;
    top: 780px;
    transition: 1s ease-in-out;
}

#sixthSectionFinalText {
    position: absolute;
    top: 990px;
    width: 60vw;
    font-weight: 400;
    font-size: 16px;
    color: #000100;
    transition: .5s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 16px;
    a {
        color: #000100;
        font-weight: 800;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 862px) {
    #sixthSection {
        padding-top: 65px;
        height: 900px;
    }
    #sixthSectionTitle {
        font-size: 16px;
        margin-bottom: 32px;
    }
    #sixthSectionFinalText {
        font-size: 14px;
        top: 670px;
        width: 90vw;
    }
    #sixthSectionLineaVioleta {
        top: 520px;
        width: 100%;
    }
    .sixtSectionImg {
        width: 265px;
        height: 364px;
    }
}