nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  width: 100%;
  height: 17svh;
  z-index: 200;
}

#navLogo {
  display: flex;
  width: 250px;
  height: 38px;
  overflow: hidden;
  cursor: pointer;
}

.navLogoImage {
  position: absolute;
  top: 0;
  transition: 0.5s;
}

#navMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 14svh;
  overflow: hidden;
  border-radius: 0px 16px 16px 0px;
}

#navMenuButton {
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(13px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05) inset;
  border-radius: 16px;
  width: 136px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

#navLinks {
  display: flex;
  gap: 16px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(13px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05) inset;
  border-radius: 16px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  transition: 0.5s;
}

.navLink {
  text-decoration: none;
  color: #0A001A;
  font-size: 20px;
  font-weight: 600;
  width: 136px;
}
.navLink:hover {
  color: #7B2CBF;
}
.navLink:active {
  color: #C77DFF;
  text-shadow: 0px 0px 4px #C77DFF;
}

#header {
  height: 100svh;
  display: flex;
  justify-content: center;
}

#headerImage {
  position: absolute;
  object-fit: contain;
  top: 70px;
  height: 820px;
  width: 780px;
  mix-blend-mode: darken;
  z-index: 100;
}

#headerImage2 {
  position: absolute;
  object-fit: contain;
  top: 70px;
  height: 820px;
  width: 780px;
  z-index: 50;
}

.sliderContainer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 580px;
}

.sliderTrack {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.sliderText {
  font-size: 96px;
  font-family: "Moderniz";
  font-weight: 900;
  white-space: nowrap;
  margin-right: 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
#turneraContainer {
  width: 848px;
  height: 848px;
  background-image: url("/turnera/bg.png ");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 32px;
  padding: 32px;
  box-shadow: 0px 24px 24px -2px rgba(0, 0, 0, 0.4), 0px 4px 8px -2px rgba(0, 0, 0, 0.6);
  z-index: 50;
  position: absolute;
  top: 800px;
  align-self: center;
}

#turneraH2 {
  font-family: "Moderniz";
  font-weight: 900;
  font-size: 72px;
  text-align: right;
  color: #ffffff;
  line-height: 84px;
}

#turneraUtilities {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

#selectersContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#fechaContainer {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 48px;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}
#fechaContainer #fechaContainerLabel {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
}
#fechaContainer #seleccionarFechaContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
#fechaContainer #seleccionarFechaContainer p {
  font-size: 16px;
  color: #8C8C8C;
  font-weight: 300;
}
#fechaContainer #seleccionarFechaContainer #seleccionarFechaIcon {
  transition: background-color 0.5s, color 0.5s, rotate 0s;
  rotate: 180deg;
  color: #8C8C8C;
  position: absolute;
  right: 20px;
  width: 38px;
  height: 38px;
  padding: 10px;
  border-radius: 18px;
}
#fechaContainer #seleccionarFechaContainer #seleccionarFechaIcon:hover {
  cursor: pointer;
  background-color: rgba(123, 44, 191, 0.2);
  color: #E0AAFF;
}

#calendarContainer {
  position: absolute;
  top: 48px;
  right: 0;
  z-index: 600;
  backdrop-filter: blur(30px);
  background-color: rgba(10, 0, 26, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 16px;
}
#calendarContainer .react-calendar {
  background-color: transparent;
  border: none;
}
#calendarContainer .react-calendar__month-view__weekdays__weekday {
  color: #ffffff;
  font-weight: 300;
  font-size: 12px;
}
#calendarContainer .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
#calendarContainer .react-calendar__tile {
  font-size: 16px;
  color: #8C8C8C;
  border-radius: 8px;
  padding: 10px 0;
  transition: none;
}
#calendarContainer .react-calendar__tile--active {
  background: #2563eb !important;
  color: white !important;
  border-radius: 8px;
}
#calendarContainer #calendarNav {
  display: flex;
  justify-content: space-between;
  border: none;
  align-items: center;
}
#calendarContainer #calendarNav p {
  color: #ffffff;
  font-size: 16px;
}
#calendarContainer .calendarRowsIcon {
  color: #ffffff;
  transition: 0.5s;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
#calendarContainer .calendarRowsIcon:hover {
  background-color: rgba(123, 44, 191, 0.2);
  color: #E0AAFF;
}

#buttonReservar {
  background-color: rgba(123, 44, 191, 0.6);
  width: 100%;
  height: 64px;
  border-radius: 16px;
  font-size: 24px;
  border: none;
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.1019607843) inset, 2px 2px 2px rgba(255, 255, 255, 0.1019607843) inset, -2px -2px 0 rgba(0, 0, 0, 0.1019607843) inset, -4px -4px 4 0 rgba(0, 0, 0, 0.1019607843) inset;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  z-index: 50;
}
#buttonReservar:hover {
  background-color: rgba(199, 125, 255, 0.6);
  cursor: pointer;
}

#firstSection {
  width: 100%;
  height: 270svh;
  display: flex;
  flex-direction: column;
}

#secondSection {
  width: 100%;
  height: 350svh;
}

#secondSectionSticky {
  height: 100svh;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#secondSectionSticky p {
  color: #000100;
}
#secondSectionSticky p:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
}
#secondSectionSticky p:nth-child(5) {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-top: 30px;
}
#secondSectionSticky .animationTextUp {
  display: flex;
  height: 82px;
  width: 100%;
  overflow: hidden;
}
#secondSectionSticky .animationTextUp p {
  font-size: 72px;
  font-weight: 900;
  font-family: "Moderniz";
  line-height: 1;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
}
#secondSectionSticky .animationTextUp span {
  color: #5A189A;
  font-weight: 900;
  font-family: "Moderniz";
  transition: 0.3s;
  line-height: 1;
  top: 12px;
  font-size: 72px;
  position: absolute;
  right: 0;
  left: 620;
  text-align: center;
}

#thirdSection {
  width: 100%;
  height: 500svh;
}

#thirdSectionSticky {
  height: 100svh;
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  overflow: hidden;
}
#thirdSectionSticky p {
  color: #ffffff;
}

#thirdSectionTitle {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  font-weight: 600;
  font-size: 20px;
}

#thirdSectionDiv1 {
  width: 450px;
  position: absolute;
  top: 14svh;
  overflow: hidden;
  left: 9svw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#thirdSectionDiv2 {
  width: 450px;
  position: absolute;
  top: 14svh;
  overflow: hidden;
  right: 9svw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#thirdSectionDiv3 {
  width: 450px;
  position: absolute;
  bottom: 14svh;
  overflow: hidden;
  left: 9svw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#thirdSectionDiv4 {
  width: 450px;
  position: absolute;
  bottom: 14svh;
  overflow: hidden;
  right: 9svw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.thirdSectionP {
  font-size: 16px;
  font-weight: 300;
  transition: 0.7s ease-in-out;
}

.animationTextHorizontal {
  height: 50px;
  display: flex;
  align-items: center;
}
.animationTextHorizontal p {
  position: absolute;
  text-wrap: nowrap;
  font-family: "Moderniz";
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  transition: 0.5s ease-in-out;
}

.animationLineaHorizontal {
  height: 40px;
  display: flex;
  align-items: center;
}

.animationTextHorizontalLinea {
  height: 2px;
  background-color: #E0AAFF;
  transition: 0.7s ease-in-out;
}

#fourthSection {
  height: 300svh;
}

#fourthSectionSticky {
  height: 150svh;
}

@font-face {
  font-family: "Moderniz";
  src: url("/fonts/Moderniz.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Inter";
}

body {
  background-color: #ffffff;
  min-height: 100vh;
}

/*# sourceMappingURL=globals.css.map */
