#header {
    height: 100svh;
    display: flex;
    justify-content: center;
}

#headerImage {
    position: absolute;
    object-fit: contain;
    top: 70px;
    height: 820px;
    width: 780px;
    mix-blend-mode: darken;
    z-index: 100;
}

#headerImage2 {
    position: absolute;
    object-fit: contain;
    top: 70px;
    height: 820px;
    width: 780px;
    z-index: 50;
}

.sliderContainer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 580px;
}

.sliderTrack {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
}

.sliderText {
    font-size: 96px;
    font-family: "Moderniz";
    font-weight: 900;
    white-space: nowrap;
    margin-right: 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}