#header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#headerImage {
    position: absolute;
    object-fit: contain;
    top: 70px;
    height: 820px;
    width: 780px;
    mix-blend-mode: darken;
    z-index: 100;
}

#headerImage2 {
    position: absolute;
    object-fit: contain;
    top: 70px;
    height: 820px;
    width: 780px;
    z-index: 50;
}

@media (max-width: 862px) {
    #header {
        overflow-x: hidden;
    }
    #headerImage2, #headerImage {
        height: auto;
        width: 430px;
        margin-top: 40px;
        overflow-x: hidden;
    }
}