nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    width: 100%;
    height: 17vh;
    z-index: 200;
}

#navLogo {
    display: flex;
    width: 250px;
    height: 38px;
    overflow: hidden;
    cursor: pointer;
}

.navLogoImage {
    position: absolute;
    top: 0;
    transition: .5s
}

#navMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 14vh;
    overflow: hidden;
    border-radius: 0px 16px 16px 0px;
    transform: rotate(0deg);
    transform-origin: right center;
}

#navMenuButton {
    height: 100%;
    border-radius: 16px;
    width: 136px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#navMenuButtonWhite {
    height: 100%;
    border-radius: 16px;
    width: 136px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #ffffff;
}

#navLinks {
    display: flex;
    gap: 16px;
    border-radius: 16px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    transition: .5s;
}

.navLink {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    width: 136px;
    color: #0A001A;
    &:hover {
        color: #7B2CBF;
    }
    &:active {
        color: #C77DFF;
        text-shadow: 0px 0px 4px #C77DFF;
    }
}

.navLinkWhite {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    width: 136px;
    color: #ffffff;
    &:hover {
        color: #7B2CBF;
    }
    &:active {
        color: #C77DFF;
        text-shadow: 0px 0px 4px #C77DFF;
    }
}

@media (max-width: 862px) {
    nav {
        padding: 5vw;
    }
    #navMenu {
        transform: rotate(-90deg);
        position: absolute;
        top: -50;
        left: -320;
        width: 700px;
    }
    .navLink {
        font-size: 16px;
        width: 100px;
    }
}