#turneraContainer {
    width: 848px;
    height: 848px;
    background-image: url('/turnera/bg.png ');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 32px;
    padding: 32px;
    box-shadow: 0px 24px 24px -2px rgb(0, 0, 0, 0.4), 0px 4px 8px -2px rgb(0, 0, 0, 0.6);
    z-index: 50;
    position: absolute;
    top: 800px;
    align-self: center;
}

#turneraH2 {
    font-family: "Moderniz";
    font-weight: 900;
    font-size: 72px;
    text-align: right;
    color: #ffffff;
    line-height: 84px;
}

#turneraUtilities {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

#selectersContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#fechaContainer {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 48px;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    #fechaContainerLabel {
        font-size: 16px;
        color: #ffffff;
        font-weight: 300;
    }
    #seleccionarFechaContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        height: 100%;
        align-items: center;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        p {
            font-size: 16px;
            color: #8C8C8C;
            font-weight: 300;
        }
        #seleccionarFechaIcon {
            transition: background-color .5s, color .5s, rotate 0s;
            rotate: 180deg;
            color: #8C8C8C;
            position: absolute;
            right: 20px;
            width: 38px;
            height: 38px;
            padding: 10px;
            border-radius: 18px;
            &:hover {
                cursor: pointer;
                background-color: #7B2CBF33;
                color: #E0AAFF;
            }
        }
    }
}

#calendarContainer {
        position: absolute;
        top: 48px;
        right: 0;
        z-index: 600;
        backdrop-filter: blur(30px);
        background-color: #0A001A99;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        padding: 16px;
        .react-calendar {
            background-color: transparent;
            border: none;
        }
        //nombres dias
        .react-calendar__month-view__weekdays__weekday {
            color: #ffffff;
            font-weight: 300;
            font-size: 12px;
        }
        .react-calendar__month-view__weekdays__weekday abbr {
            text-decoration: none;
        }
        //numeros
        .react-calendar__tile {
            font-size: 16px;
            color: #8C8C8C;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            transition: none;
        }
        .react-calendar__tile:hover {
            color: #B8B7B7;
            background-color: #7B2CBF33;
        }
        // dia actual
        .react-calendar__tile--now {
            font-size: 16px;
            color: #8C8C8C;
            border-radius: 50%;
            background-color: transparent;
            width: 50px;
            height: 50px;
            transition: none;
        }
        //dia seleccionado
        .react-calendar__tile--active {
            background: #5A189A !important;
            color: #E0AAFF !important;
            border-radius: 50%;
            font-size: 16px;
            width: 50px;
            height: 50px;
        }
        //dias que no son del mes
        .react-calendar__month-view__days__day--neighboringMonth {
            opacity: 0;
        }
        //nav personalizado
        #calendarNav {
            display: flex;
            justify-content: space-between;
            border: none;
            align-items: center;
            p {
                color: #ffffff;
                font-size: 16px;
            }
        }
        .calendarRowsIcon {
            color: #ffffff;
            transition: .5s;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                background-color: #7B2CBF33;
                color: #E0AAFF;
            }
        }
    }

#buttonReservar {
    background-color: #7B2CBF99;
    width: 100%;
    height: 64px;
    border-radius: 16px;
    font-size: 24px;
    border: none;
    box-shadow: 4px 4px 4px #FFFFFF1A inset, 2px 2px 2px #FFFFFF1A inset, -2px -2px 0 #0000001A inset, -4px -4px 4px 0 #0000001A inset;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    z-index: 50;
    &:hover {
        background-color: #C77DFF99;
        cursor: pointer;
    }
}

@media (max-width: 862px) {
    #turneraContainer {
        width: 95vw;
        height: 95vw;
        top: 550;
    }
    #turneraH2 {
        font-size: 22px;
        line-height: 28px;
    }
}